
.name-text {                                  
    font-size: 17px;                         
    color: #7c7c7c;
    font-weight: bold;
}

.mainbox {
    width: 610px;
    padding: 30px;
    margin: 30px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #ebebeb;
    /* box-shadow: none | x-position y-position blur spread color | inset | initial | inherit
    none : 그림자 효과를 없앱니다.
    x-position : 가로 위치입니다. 양수면 오른쪽에, 음수면 왼쪽에 그림자가 만들어집니다. (필수)
    y-position : 세로 위치입니다. 양수면 아래쪽에, 음수면 위쪽에 그림자가 만들어집니다. (필수)
    blur : 그림자를 흐릿하게 만듭니다. 값이 클 수록 더욱 흐려집니다.
    spread : 양수면 그림자를 확장하고, 음수면 축소합니다.
    color : 그림자 색을 정합니다.
    inset : 그림자를 요소의 안쪽에 만듭니다.
    initial : 기본값으로 설정합니다.
    inherit : 부모 요소의 속성값을 상속받습니다. */
    box-shadow: 0 1px 20px 0 rgba(0,0,0,0.1);
}

footer {
    text-align: center;
    background-color: #1e1e1e;
    padding: 20px;
    font-size: 12px;
    color: #919191;
}